@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function removeEmployee() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Confirm', 'Are you sure you want to delete this employee?', function (r) {
                if (r) {
                    $.ajax({
                        url: "/Employee/RemoveEmployee",
                        type: 'post',
                        cache: false,
                        dataType: 'html',
                        data: { id: row.EmployeeID },
                        success: function (result) {
                            var result = eval('(' + result + ')');

                            if (!result.IsSuccess) {
                                $.messager.show({
                                    title: result.MessageHeader,
                                    msg: result.MessageText
                                });
                            }
                            else {
                                $.messager.show({
                                    title: result.MessageHeader,
                                    msg: result.MessageText
                                });
                                $('#dlg').dialog('close');        // close the dialog
                                $('#dg').datagrid('reload');    // reload the user data

                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(textStatus); return;
                        }
                    });
                }
            });
        }
        else {
            $.messager.show({
                title: "Удаление записи",
                msg: "Необходимо выбрать строку для удаления"
            });
        }
    }
</script>

@*<form id="upload" enctype="multipart/form-data" action="@Url.Action("UploadFile", "Employee")" method="POST">
        <input type="file" name="fileUpload" id="fileUpload" accept=".json" /><br />
        <button>Upload!</button>
    </form>*@

<script>
    function uploadJsonFile() {
        $('#dlgJsonFile').dialog('open').dialog('setTitle', 'Upload Json file');

        //$('#tb').dialog('open').dialog('setTitle', 'Upload Json file');
    }
    $('#upload').submit(function (e) {
        e.preventDefault(); // stop the standard form submission

        $.ajax({
            url: this.action,
            type: this.method,
            data: new FormData(this),
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data.UploadedFileCount + ' file(s) uploaded successfully');
                //$('#dlgJsonFile').dialog('close');      // close the dialog
                $('#dg').datagrid('reload');            // reload the user data
            },
            error: function (xhr, error, status) {
                console.log(error, status);
                return;
            }
        });
    });
</script>

<table id="dg" title="My Employees" class="easyui-datagrid"
       url="~/Employee/EmployeeJSON"
       toolbar="#toolbar"
       fitColumns="true"
       rownumbers="true"
       singleSelect="true">
    <thead>
        <tr>
            <th data-options="field:'EmployeeID',width:60">Employee ID</th>
            <th data-options="field:'PersonnelID',width:60">Personnel ID</th>
            <th data-options="field:'EmployeeFullName',width:120,align:'right'">Employee Full Name</th>
            <th data-options="field:'DateOfBirth',width:80,align:'right'">Date Of Birth</th>
            <th data-options="field:'IsStaffMember',width:80">Is Staff Member</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newEmployee()">New Employee</a>
    @*<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="uploadJsonFile()">Upload File</a>*@
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editEmployee()">Edit Employee</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeEmployee()">Remove Employee</a>
</div>

<div id="dlg" class="easyui-dialog" style="width:300px;height:350px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">

    <form id="fm" method="post" novalidate>
        <div class="fitem" type=hidden>
            <input type=hidden name="EmployeeID" class="easyui-textbox">
        </div>

        <div class="fitem" style="margin-bottom:10px">
            @*<label>Personnel ID:</label>*@
            <input name="PersonnelID" class="easyui-textbox" labelPosition="top" label="Personnel ID:">
        </div>
        <div class="fitem" style="margin-bottom:10px">
            @*<label>Employee Full Name:</label>*@
            <input name="EmployeeFullName" class="easyui-textbox" labelPosition="top" label="Employee Full Name:">
        </div>
        <div class="fitem" style="margin-bottom:10px">
            @*<label>Date Of Birth:</label>*@
            <input name="DateOfBirth:" class="easyui-textbox" labelPosition="top" label="Date Of Birth:">
        </div>
        <div class="fitem" style="margin-bottom:10px">
            @*<label>Is Staff Member</label>*@
            <input class="easyui-checkbox" name="IsStaffMember" value="true" labelPosition="before" label="Is Staff Member">
        </div>
    </form>
</div>

<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">Save</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
</div>



<div id="dlgJsonFile" class="easyui-dialog" style="width:400px;height:320px;padding:10px 20px;"
     closed="true" buttons="#dlg-buttons">

    @*<form id="upload" enctype="multipart/form-data" action="@Url.Action("UploadFile", "Employee")" method="POST">
            <input type="file" name="fileUpload" id="fileUpload" accept=".json" /><br />
            <button>Upload!</button>
        </form>*@

    <div id="tb" style="padding:5px;height:auto">
        <!-------------------------------Search box----------------------------------->
        <fieldset>
            <legend>Load Employee from JSON file</legend>
            <form id="ffSearch" method="post" enctype="multipart/form-data">
                <div title="Load Employee from JSON file" style="padding: 5px" data-options="iconCls:'icon-key'">
                    <input class="easyui-validatebox" type="hidden" id="AttachGUID" name="AttachGUID" />
                    <br />
                    <input class="easyui-filebox" id="file_upload" style="width:300px" />
                </div>
            </form>
            <div id="div_files"></div>
        </fieldset>

        <!-------------------------------Detail display form----------------------------------->
        <table id="grid" title="User operation" data-options="iconCls:'icon-view'">
        </table>
    </div>



</div>
<div id="dlg-buttons">
    @*<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="loadJsonFile()" style="width:90px">Save</a>*@
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlgJsonFile').dialog('close')" style="width:90px">Cancel</a>
</div>

<script>
    var url;
    var employeeId;
    var params = {
        EmployeeID: '',
        PersonnelID: '',
        EmployeeFullName: '',
        DateOfBirth: '',
        IsStaffMember: '',
    };
    function newEmployee() {
        $('#dlg').dialog('open').dialog('setTitle', 'New Employee');
        $('#fm').form('clear');
        employeeId = undefined;
        url = '/Employee/SaveEmployee';
        console.log('employeeId = ' + employeeId + ' url = ' + url);
    }
    function editEmployee() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $('#dlg').dialog('open').dialog('setTitle', 'Edit User');
            $('#fm').form('load', row);
            employeeId = row.EmployeeID;
            url = '/Employee/EditEmployee?id=' + row.EmployeeID;
        }
    }
    function saveUser() {
        $('#fm').form('submit', {
            url: url,

            onSubmit: function (param) {

                params.EmployeeID = employeeId;
                params.PersonnelID = param.PersonnelID;
                params.EmployeeFullName = param.EmployeeFullName;
                params.DateOfBirth = param.DateOfBirth;
                params.IsStaffMember = param.IsStaffMember;

                console.log('employeeId = ' + employeeId + ' url = ' + url);

                return $(this).form('validate');
            },
            success: function (result) {

                console.log('result = ' + result);

                var result = eval('(' + result + ')');
                if (!result.IsSuccess) {
                    $.messager.show({
                        title: result.MessageHeader,
                        msg: result.MessageText
                    });
                } else {
                    $.messager.show({
                        title: result.MessageHeader,
                        msg: result.MessageText
                    });
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the user data
                }
            }
        });
    }
</script>


<div id="tb" style="padding:5px;height:auto">
    <!-------------------------------File box----------------------------------->
    <fieldset>
        <legend>Load Employee from JSON file</legend>
        <form id="ffSearch" method="post" enctype="multipart/form-data">
            <div title="Load Employee from JSON file" style="padding: 5px" data-options="iconCls:'icon-key'">
                <input class="easyui-validatebox" type="hidden" id="AttachGUID" name="AttachGUID" />
                <br />
                <input class="easyui-filebox" id="file_upload" style="width:300px" />
            </div>
        </form>
        <div id="div_files"></div>
    </fieldset>

    <!-------------------------------Detail display form----------------------------------->
    <table id="grid" title="User operation" data-options="iconCls:'icon-view'">
    </table>
</div>


<script type="text/javascript">

    $(function () {
        //Add dialog box, upload control initialization
        $('#file_upload').filebox({
            buttonText: 'Select file',  //Button text
            buttonAlign: 'right',   //Button alignment
            //multiple: true,       //Multi file mode or not
            //accept: "image/gif,image/bmp,image/jpeg,image/jpg,image/png", //Specify file type
            onChange: function (e) {
                UploadFile(this, "file_upload", "AttachGUID", "div_files");//Upload processing
            }
        });
    });

    //Upload file operation
    function UploadFile(_obj, file_ctrlname, guid_ctrlname, div_files) {
        var value = $("#" + file_ctrlname).filebox('getValue');
        var files = $("#" + file_ctrlname).next().find('input[type=file]')[0].files;
        var fileName = files[0].name;
        //console.log(files[0].name);

        var guid = $("#" + guid_ctrlname).val();
        if (value && files[0]) {
            //Construct a FormData Store complex objects
            var formData = new FormData();
            formData.append("folder", 'Data import file');
            formData.append("guid", guid);
            formData.append('Filedata', files[0]);//The default file data name is“ Filedata"

            $("#dgFileLoadingResult").title = fileName;

            $.ajax({
                url: '/Employee/UploadFile', //Single file upload
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (result) {

                    console.log(' ajax called successfully');
                    console.log('json result = ' + result);

                    $('#dg').datagrid('reload');            // reload the user data

                    //var resultObj = eval('(' + result + ')');

                    console.log('result Obj = ' + result);
                   

                    if (typeof result.IsSuccess !== 'undefined' ) {

                        console.log('result.IsSuccess is not undefined');

                        console.log('result.MessageHeader = ' + result.MessageHeader);
                        console.log('result.MessageText = ' + result.MessageText);
                        
                            $.messager.show({
                                title: result.MessageHeader,
                                msg: result.MessageText
                            });                        


                    }
                    
                    //Fill log to grid
                    if (typeof result.ResponseBody !== 'undefined') {
                        //Show grid with result

                        $('#dgFileLoadingResult').datagrid('loadData', JSON.parse(result.ResponseBody));
                    }

                },
                error: function (xhr, status, error) {
                    $.messager.alert("Error", "operation failed"); //xhr.responseText
                }
            });
        }
    }
</script>



    <table id="dgFileLoadingResult" title="Loading result" class="easyui-datagrid"
           
           fitColumns="true"
           rownumbers="true"
           toolbar="#tbFileLoadingResult"
           singleSelect="true">
        <thead>
            <tr>
                <th data-options="field:'Entity',width:120">Employee data</th>
                <th data-options="field:'AlreadyExists',width:60">Record alredy exists</th>
                <th data-options="field:'ErrorMessage',width:120,align:'right'">Error message</th>
            </tr>
        </thead>
    </table>

    <div id="tbFileLoadingResult">
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="saveLoadingResult()">Save to xls</a>
    </div>

    <script>
        function saveLoadingResult() {

            $('#dgFileLoadingResult').datagrid('toExcel', 'datagrid.xls');
        }
    </script>

    @*<div id="tb" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"></a>
            </div>
            <div>
                Date From: <input class="easyui-datebox" style="width:80px">
                To: <input class="easyui-datebox" style="width:80px">
                Language:
                <input class="easyui-combobox" style="width:100px"
                       url="data/combobox_data.json"
                       valueField="id" textField="text">
                <a href="#" class="easyui-linkbutton" iconCls="icon-search">Search</a>
            </div>
        </div>*@
